[Unit]
Description = Execute system tarballs

[Service]
Type = oneshot
ExecStart = /usr/bin/systemd-inhibit --who=root --mode=block /usr/local/bin/lvmtar
User = root
Group = root

[Install]
WantedBy = multi-user.target
