[Unit]
Description = Execute system tarballs

[Service]
Type = oneshot
ExecStart = /home/jason/Documents/Git/bash-backups/scripts/lvmtar
User = root
Group = root

[Install]
WantedBy = multi-user.target
