[Unit]
Description = Execute user directory backups

[Service]
Type = oneshot
ExecStart = /home/jason/Documents/Git/bash-backups/scripts/userbackups
User = root
Group = root

[Install]
WantedBy = multi-user.target
