[Unit]
Description = Execute user directory backups

[Service]
Type = oneshot
ExecStart = /usr/local/bin/userbackups
User = root
Group = root

[Install]
WantedBy = multi-user.target
