[Unit]
Description = Run backups of user directories 3 times daily

[Timer]
OnCalendar = 00/6:00
Persistent = true

[Install]
WantedBy = timers.target
